/* Formula1 Display fonts*/
@font-face {
    font-family: 'Formula1 Display';
    src: url('/fonts/woff2/Formula1-Regular.woff2') format('woff2'),
         url('/fonts/Formula1-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1 Display';
    src: url('/fonts/woff2/Formula1-Bold.woff2') format('woff2'),
         url('/fonts/Formula1-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Formula1 TV fonts*/
@font-face {
    font-family: 'Formula1 TV';
    src: url('/fonts/woff2/Formula1TV-Regular.woff2') format('woff2'),
         url('/fonts/Formula1TV-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1 TV-Italic';
    src: url('/fonts/woff2/Formula1TV-Italic.woff2') format('woff2'),
         url('/fonts/Formula1TV-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Formula1 TV-BoldItalic';
    src: url('/fonts/woff2/Formula1TV-BoldItalic.woff2') format('woff2'),
         url('/fonts/Formula1TV-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/*F1TV-2022 fonts */
@font-face {
    font-family: "F1TV-2022-Position";
    src: url('/fonts/woff2/F1TV-2022-Position.woff2') format('woff2'),
         url('/fonts/F1TV-2022-Position.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "F1TV-2022-ObliqueBold";
    src: url('/fonts/woff2/F1TV-2022-ObliqueBold.woff2') format('woff2'),
         url('/fonts/F1TV-2022-ObliqueBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "F1TV-2022-ObliqueCondensed";
    src: url('/fonts/woff2/F1TV-2022-ObliqueCondensed.woff2') format('woff2'),
         url('/fonts/F1TV-2022-ObliqueCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "F1TV-2022";
    src: url('/fonts/woff2/F1TV-2022-Regular.woff2') format('woff2'),
         url('/fonts/F1TV-2022-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "F1TV-2022-Oblique";
    src: url('/fonts/woff2/F1TV-2022-Regular-Oblique.woff2') format('woff2'),
         url('/fonts/F1TV-2022-Regular-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: "F1TV-2022-NameCondensed-BoldOblique";
    src: url('/fonts/woff2/F1TV-2022-NameCondensed-BoldOblique.woff2') format('woff2'),
         url('/fonts/F1TV-2022-NameCondensed-BoldOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "F1TV-2022-Timing";
    src: url('/fonts/woff2/F1TV-2022-Timing-Oblique.woff2') format('woff2'),
         url('/fonts/F1TV-2022-Timing-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Other fonts */
@font-face {
    font-family: "F1TVnumbers";
    src: url('/fonts/woff2/F1TVnumbers.woff2') format('woff2'),
         url('/fonts/F1TVnumbers.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "F1TVname";
    src: url('/fonts/woff2/F1TVname.woff2') format('woff2'),
         url('/fonts/F1TVname.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}