@import url('fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: transparent;
    overflow: hidden;
}

.overlay-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 250px;
    opacity: 0;
    transition: opacity 200ms ease-out, width 250ms ease-out;
    overflow: hidden;
}

.overlay-container.visible {
    width: 320px;
    opacity: 1;
}

/* Background */
/* Leaderboard Container */
.leaderboard-container {
    position: absolute;
    left: 0;
    top: 85px;
    width: 320px;
    height: 175px;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    height: 175px;
    overflow: hidden;
}

/* Background Rectangles */
.background-rectangle-main {
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    height: 165px;
    background-color: rgb(10, 10, 15);
}

.background-rectangle-divider {
    position: absolute;
    left: 0;
    top: 60px;
    width: 320px;
    height: 10px;
    background-color: rgb(10, 10, 15);
}

/* Decoration Animation */
@keyframes decorationScroll {
    from {
        top: -500px;
    }
    to {
        top: -37px;  /* hand-matched to loop seamlessly */
    }
}

/* Decorations */
.decoration-left,
.decoration-right {
    position: absolute;
    width: 81px;
    height: 765px;
    top: -500px;
    opacity: 0.6;
    animation: decorationScroll 4s linear infinite;
}

.decoration-left {
    left: -15px;
}

.decoration-right {
    left: 255px;
}

/* Sponsor */
.sponsor {
    position: absolute;
    left: 155px;
    top: 0;
    width: 165px;
    height: 80px;
}

.sponsor-rectangle {
    position: absolute;
    left: 0px;
    top: 5px;
    width: 165px;
    height: 75px;
    background-color: #660335;
    border-radius: 8px;
}

.sponsor-text-qatar {
    position: absolute;
    left: 0px;
    top: 10px;
    width: 165px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Optima', sans-serif;
    font-size: 45px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.sponsor-text-airways {
    position: absolute;
    left: 35px;
    top: 50px;
    width: 130px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Optima', sans-serif;
    font-size: 27px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

/* Driver Rows */
.driver-row {
    position: absolute;
    left: 0;
    width: 305px;
    height: 50px;
    display: flex;
    align-items: center;
}

.driver-ahead {
    left: 15px;
    top: 10px;
}

.driver-current {
    top: 60px;
    width: 320px;
    height: 55px;
    z-index: 2;
}

.driver-behind {
    left: 15px;
    top: 115px;
}

/* Player indicator (highlight background) */
.player-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    height: 55px;
    z-index: -1;
}

/* Position number */
.position-number {
    width: 55px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'F1TV-2022', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
}

.driver-ahead .position-number {
    position: absolute;
    left: 5px;
    top: 0;
    width: 35px;
    height: 50px;
    font-family: 'F1TV-2022', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgb(192, 192, 192);
    justify-content: flex-end;
    border: none;
    z-index: 2;
}

.driver-current .position-number {
    position: absolute;
    left: -1px;
    top: 0;
    width: 55px;
    height: 55px;
    font-family: 'F1TV-2022', sans-serif;
    font-size: 27px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    z-index: 2;
}

.driver-behind .position-number {
    position: absolute;
    left: 5px;
    top: 0;
    width: 35px;
    height: 50px;
    font-family: 'F1TV-2022', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgb(192, 192, 192);
    justify-content: flex-end;
    border: none;
    z-index: 2;
}

/* Position stroke (border separator) */
.position-stroke {
    position: absolute;
    left: 0;
    top: 12.5px;
    width: 55px;
    height: 25px;
    border-right: 2px solid rgb(128, 128, 128);
}

/* Knockout overlay (for qualifying) */
.knockout-overlay {
    position: absolute;
    left: 0;
    top: 5px;
    width: 45px;
    height: 40px;
    display: none;
    z-index: 1;
}

.driver-current .knockout-overlay {
    width: 55px;
    height: 55px;
    top: 0;
}

/* Driver name */
.driver-name {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-family: 'F1TV-2022', sans-serif;
    font-size: 28px;
    font-style: oblique;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.driver-ahead .driver-name {
    position: absolute;
    left: 65px;
    top: 0;
    width: 225px;
    height: 50px;
    padding-left: 0;
    font-family: 'F1TV-2022', sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: oblique;
    color: rgb(128, 128, 128);
    justify-content: flex-start;
}

.driver-current .driver-name {
    position: absolute;
    left: 70px;
    top: 0;
    width: 250px;
    height: 55px;
    padding-left: 0;
    font-family: 'F1TV-2022', sans-serif;
    font-size: 27px;
    font-weight: 700;
    font-style: oblique;
    color: rgb(0, 0, 0);
    justify-content: flex-start;
    text-transform: uppercase;
}

.driver-behind .driver-name {
    position: absolute;
    left: 65px;
    top: 0;
    width: 225px;
    height: 50px;
    padding-left: 0;
    font-family: 'F1TV-2022', sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: oblique;
    color: rgb(128, 128, 128);
    justify-content: flex-start;
}
