.overlay-container {
    position: relative;
    width: 500px;
    height: 500px;
    background: transparent;
    transition: opacity 200ms ease-out;
    opacity: 0;
}

.overlay-container.visible {
    opacity: 1;
}

/* Base layer styling */
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
}

/* Background layer */
.background-layer {
    z-index: 1;
}

.background-layer img {
    width: 497px;
    height: 497px;
    position: absolute;
    left: 1.5px;
    top: 23px;
    opacity: 0.7;
}

/* Gauge background layer */
.gauge-layer {
    z-index: 2;
}

.gauge-layer img {
    width: 497px;
    height: 498px;
    position: absolute;
    left: 1.5px;
    top: -22px;
    opacity: 1;
}

/* Gauges layer - canvas rendering */
.gauges-layer {
    z-index: 4;
}

.dial-container {
    position: absolute;
    overflow: hidden;
}

/* Speed gauge */
.speed-dial {
    width: 497px;
    height: 496px;
    left: 1px;
    top: 1px;
}

/* Brake gauge */
.brake-dial {
    width: 496.2px;
    height: 496.2px;
    left: 1.9px;
    top: 1.9px;
}

/* Throttle gauge */
.throttle-dial {
    width: 496.2px;
    height: 496.2px;
    left: 1.9px;
    top: 1.9px;
}

#throttle-gauge,
#brake-gauge,
#speed-gauge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Image overlays layer - text overlays on gauges */
.overlay-images-layer {
    z-index: 5;
}

/* Text overlay - Throttle/Brake labels */
.text-overlay {
    position: absolute;
    width: 508px;
    height: 508px;
    left: -4px;
    top: -2.5px;
}

/* Units overlay - KMH/MPH label */
.units-overlay {
    position: absolute;
    width: 514px;
    height: 514px;
    left: -7px;
    top: -7px;
}

/* Text layer - contains all text and DRS elements */
.text-layer {
    z-index: 6;
}

/* Speed value */
.speed-value {
    position: absolute;
    top: 135px;
    left: 140px;
    width: 220px;
    height: 95px;
    font-family: 'Formula1 Display';
    font-size: 90px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    padding: 0px 0px 3px;
}

/* Speed units */
.speed-units {
    position: absolute;
    top: 230px;
    left: 200px;
    width: 100px;
    height: 35px;
    font-family: 'Formula1 Display';
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
}

/* RPM value */
.rpm-value {
    position: absolute;
    top: 275px;
    left: 140px;
    width: 220px;
    height: 50px;
    font-family: 'Formula1 Display';
    font-size: 48px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
}

/* RPM label */
.rpm-label {
    position: absolute;
    top: 325px;
    left: 200px;
    width: 100px;
    height: 35px;
    font-family: 'Formula1 Display';
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
}

/* DRS container - groups DRS image and label */
.drs-container {
    position: absolute;
    left: 211px;
    top: 376px;
    width: 78px;
    height: 45.3px;
}

.drs-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 78px;
    height: 45.3px;
    object-fit: contain;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.drs-label {
    position: absolute;
    left: 3px;
    top: 6px;
    width: 72px;
    height: 29px;
    font-family: 'Formula1 Display';
    font-size: 25px;
    font-weight: bold;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
}

/* Gear label */
.gear-label {
    position: absolute;
    top: 443px;
    left: 185px;
    width: 80px;
    height: 35px;
    font-family: 'Formula1 TV';
    font-size: 23px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    box-sizing: border-box;
    white-space: pre;
}

/* Gear value */
.gear-value {
    position: absolute;
    top: 420px;
    left: 265px;
    width: 55px;
    height: 75px;
    font-family: 'Formula1 Display';
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
}