body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
}

.turn-indicator-container {
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    padding: 0;
    opacity: 1;
    transition: opacity 200ms ease-out;
}

.turn-indicator-container.visible {
    opacity: 1;
}

/* Turn label - "TURN" text */
.turn-label {
    font-family: 'F1TV-2022', sans-serif;
    font-size: 35px;
    font-weight: 400;
    font-style: oblique;
    color: #FFFFFF;
    line-height: 1;
    text-align: center;
    width: 135px;
    opacity: 0;
    position: absolute;
    left: 30px;
    transition: opacity 200ms ease-out, left 333ms ease-out;
    /* Temporary outline for visibility */
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.turn-label.show {
    opacity: 1;
    left: 0;
}

/* Turn number - large, bold */
.turn-number {
    font-family: 'F1TV-2022', sans-serif;
    font-size: 55px;
    font-weight: 700;
    font-style: oblique;
    color: #FFFFFF;
    line-height: 1;
    opacity: 0;
    position: absolute;
    left: 95px;
    transition: opacity 200ms ease-out, left 333ms ease-out;
    text-align: left;
    width: 94px;
    /* Temporary outline for visibility */
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.turn-number.show {
    opacity: 1;
    left: 134px;
}
