/* Weather Overlay Styles - Matching SimHub F1TV Design */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: transparent;
    overflow: hidden;
}

/* Main Container - 280px wide, full height */
.weather-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    height: 725px;
    font-family: 'F1TV-2022', sans-serif;
}

/* ===== HEADER SECTION: CURRENT CONDITIONS ===== */
.header-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 90px;
    overflow: hidden;
    /* Animation properties */
    transition: opacity 333ms ease-out, transform 333ms ease-out;
    /* Start hidden until config loads */
    opacity: 0;
    transform: translateY(30px);
}

/* Show header when container has .visible class */
.weather-container.visible .header-section {
    opacity: 1;
    transform: translateY(0);
}

/* ===== WEATHER CONTENT WRAPPER (current + forecast) ===== */
.weather-content {
    position: absolute;
    top: 90px;
    left: 0;
    width: 280px;
    overflow: hidden;
    /* Animation properties */
    transition: height 250ms ease-out, opacity 333ms ease-out;
    /* Start hidden until config loads */
    opacity: 0;
    height: 0;
}

/* Show content when container has .visible class */
.weather-container.visible .weather-content {
    height: 635px;
    opacity: 1;
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 90px;
    background-color: rgb(10, 10, 15);
    background-image: url('/images/common/Gradient.png');
    background-size: 280px 90px;
    background-repeat: no-repeat;
}

.header-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-current,
.header-conditions {
    font-family: 'F1TV-2022-Name', 'F1TV-2022', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: rgb(255, 0, 0);
    text-align: center;
    line-height: 1.1;
}

.header-current {
    margin-top: 2px;
}

/* ===== CURRENT WEATHER SECTION ===== */
.current-weather-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 288px;
}

.section-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background-color: rgb(18, 20, 26);
    z-index: 0;
}

.section-gradient {
    position: absolute;
    top: 0;
    left: -2px;
    width: 283px;
    height: 50px;
    background-image: url('/images/common/Gradient.png');
    background-size: 283px 50px;
    background-repeat: no-repeat;
    z-index: 0;
    pointer-events: none;
}

/* Temperature Labels */
.air-temp-row,
.track-temp-row {
    position: absolute;
    left: 15px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.air-temp-row {
    top: 15px;
}

.track-temp-row {
    top: 150px;
}

.temp-label {
    font-family: 'F1TV-2022', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(255, 255, 255);
    opacity: 0.9;
    white-space: nowrap;
}

.temp-line {
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    margin-left: 10px;
}

.air-line {
    width: 90px;
}

.track-line {
    width: 50px;
}

/* Air Temperature Values */
.air-temp-values {
    position: absolute;
    top: 50px;
    left: 0;
    width: 280px;
    height: 95px;
    z-index: 2;
}

.weather-icon-large {
    position: absolute;
    left: 40px;
    top: 5px;
    width: 85px;
    height: 85px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.temp-celsius {
    position: absolute;
    left: 134px;
    top: 0;
    display: flex;
    align-items: baseline;
}

.temp-fahrenheit {
    position: absolute;
    left: 134px;
    top: 45px;
    display: flex;
    align-items: baseline;
    opacity: 0.75;
}

.temp-value-main {
    font-family: 'Formula1 TV', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 38px;
    color: rgb(255, 255, 255);
    width: 95px;
    text-align: right;
}

.temp-value-secondary {
    font-family: 'Formula1 TV', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 38px;
    color: rgb(255, 255, 255);
    width: 95px;
    text-align: right;
}

.temp-unit {
    font-family: 'F1TV-2022', sans-serif;
    font-weight: 400;
    font-style: oblique;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-left: 5px;
}

.temp-unit-secondary {
    font-family: 'F1TV-2022', sans-serif;
    font-weight: 400;
    font-style: oblique;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-left: 5px;
    opacity: 0.75;
}

/* Track Temperature Values */
.track-temp-values {
    position: absolute;
    top: 185px;
    left: 0;
    width: 280px;
    height: 95px;
    z-index: 2;
}

.track-icon {
    position: absolute;
    left: 70px;
    top: 15px;
    width: 35px;
    height: 65px;
    background-image: url('/images/weather/gauge.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.track-temp-values .temp-celsius {
    top: 0;
}

.track-temp-values .temp-fahrenheit {
    top: 45px;
}

/* ===== FORECAST SECTION ===== */
.forecast-section {
    position: absolute;
    top: 288px;
    left: 0;
    width: 280px;
    height: 345px;
    overflow: hidden;
    /* Animation properties */
    transition: height 250ms ease-out, opacity 250ms ease-out;
    opacity: 1;
}

.forecast-section.hidden {
    height: 0;
    opacity: 0;
}

.forecast-gradient {
    top: 0;
}

/* Forecast Header */
.forecast-header-row {
    position: absolute;
    top: 20px;
    left: 15px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.forecast-label {
    font-family: 'F1TV-2022', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(255, 255, 255);
    opacity: 0.9;
    white-space: nowrap;
}

.forecast-line {
    width: 80px;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    margin-left: 10px;
}

/* Forecast Rows */
.forecast-row {
    position: absolute;
    left: 0;
    width: 280px;
    height: 70px;
}

#forecast-row-1 { top: 63px; }
#forecast-row-2 { top: 133px; }
#forecast-row-3 { top: 203px; }
#forecast-row-4 { top: 273px; }

.forecast-icon {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.forecast-info {
    position: absolute;
    left: 70px;
    top: 10px;
    width: 120px;
    height: 50px;
}

.forecast-condition {
    font-family: 'F1TV-2022', sans-serif;
    font-weight: 700;
    font-style: oblique;
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 25px;
    box-sizing: border-box;
    padding-right: 5px;
}

.forecast-time {
    font-family: 'Formula1 Display', sans-serif;
    font-weight: 400;
    font-style: oblique;
    font-size: 15px;
    color: rgb(255, 255, 255);
    line-height: 25px;
}

.forecast-chance {
    position: absolute;
    right: 25px;
    top: 35px;
    width: 65px;
    font-family: 'Formula1 TV', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: right;
}

.forecast-divider {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 255px;
    height: 1px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* Hide last divider */
#forecast-row-4 .forecast-divider {
    display: none;
}
