/* CSS Variables for colors and common values */
:root {
    /* Colors */
    --color-bg-dark: #12141A;
    --color-bg-player-indicator: rgba(230, 230, 230, 0.6);
    --color-border-light: #E6E6E6;
    --color-text-white: #ffffff;
    --color-text-gray: #808080;
    --color-text-black: #000000;
    --color-sector-line: #8C8C8C;
    --color-tyre-bg: #00000A;
    --color-team-logo-bg: #081425;
    --color-rolex-green: #185E33;
    
    /* Tyre compound colors */
    --color-tyre-soft: #F92D29;
    --color-tyre-medium: #EBD25F;
    --color-tyre-hard: #FFFFFF;
    --color-tyre-inter: #3AC82B;
    --color-tyre-wet: #4491D2;
    --color-tyre-super-soft: #800080;
    
    /* Dimensions */
    --overlay-width: 480px;
    --overlay-height: 270px;
    --player-indicator-height: 52px;
    --player-indicator-top: 90px;
    
    /* Fonts */
    --font-main: "F1TV-2022";
    --font-timing: "F1TV-2022-Name";
    --font-position: "F1TV-2022-Position";
    --font-numbers: "F1TVnumbers";
    --font-italic: "Formula1 TV";
    
    /* Z-index layers */
    --z-background: 0;
    --z-base: 1;
    --z-content: 2;
    --z-overlay: 3;
    --z-top: 4;
}

/* Utility classes */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text-shadow {
    text-shadow: 2px 2px 4px #000000;
}

.overlay-container {
    position: relative;
    width: var(--overlay-width);
    height: var(--overlay-height);
    background-image: url('/images/common/PlayerIndicator.png'), url('/images/common/PlayerIndicator.png'), url('/images/common/Gradient.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: -1px var(--player-indicator-top), 311px var(--player-indicator-top), -5px 140px;
    background-size: 318px var(--player-indicator-height), 318px var(--player-indicator-height), 485px 15px;
    overflow: hidden;
}

/* === GROUP CONTAINERS === */
.driver-info-group {
    position: absolute;
    width: 480px;
    height: 50px;
    left: 0;
    top: 90px;
    z-index: var(--z-content);
    overflow: hidden;
}

.position-indicators {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 52px;
}

.timing-group {
    position: absolute;
    width: 480px;
    height: 80px;
    left: 0;
    top: 137px;
    z-index: var(--z-content);
}

.main-timing-display {
    position: absolute;
    width: 480px;
    height: 80px;
    left: 0;
    top: 0;
}

.sector-deltas {
    position: absolute;
    width: 480px;
    height: 80px;
    left: 0;
    top: 0;
    pointer-events: none;
}

.sector-bar-group {
    position: absolute;
    width: 480px;
    height: 33px;
    left: 0;
    top: 217px;
    z-index: var(--z-content);
}

.sector-indicators {
    position: absolute;
    width: 480px;
    height: 6px;
    left: 0;
    top: 27px;
}

.sector-labels {
    position: absolute;
    width: 480px;
    height: 25px;
    left: 0;
    top: 0;
}

.overlay-container:before {
    content: '';
    position: absolute;
    top: var(--player-indicator-top);
    left: 0px;
    width: 476px;
    height: 46px;
    background-color: var(--color-bg-player-indicator);
    border: 2px solid var(--color-border-light);
    z-index: var(--z-background);
}

#timer-background {
    position: absolute;
    top: 1px;
    left: 0px;
    width: var(--overlay-width);
    height: 78px;
    background-color: var(--color-bg-dark);
    z-index: var(--z-base);
}

#sectors-background {
    position: absolute;
    top: -1px;
    left: 0px;
    width: var(--overlay-width);
    height: 38px;
    background-color: var(--color-bg-dark);
    z-index: var(--z-base);
}

#separator {
    position: absolute;
    top: 3px;
    left: 0px;
    width: 240px;
    height: 74px;
    background-color: transparent;
    border-right: 1px solid var(--color-text-gray);
    z-index: var(--z-content);
}

#sector-line {
    position: absolute;
    top: 28.5px;
    left: 0px;
    width: var(--overlay-width);
    height: 3px;
    background-color: var(--color-sector-line);
    border: none;
    z-index: var(--z-base);
}

.lap-time-layer {
    position: absolute;
    top: 10px;
    left: 65px; /* Default position, overridden dynamically */
    width: 190px;
    height: 60px;
    font-family: var(--font-timing);
    font-size: 44px;
    font-weight: 700;
    font-style: oblique;
    font-stretch: condensed;
    color: var(--color-text-white);
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
    z-index: var(--z-content);
}

.lap-time-comparison-layer {
    position: absolute;
    top: 13px;
    left: 240px;
    width: 240px;
    height: 35px;
    font-family: var(--font-timing);
    font-size: 29px;
    font-weight: 700;
    font-style: oblique;
    font-stretch: condensed;
    color: var(--color-text-white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
    z-index: var(--z-content);
}

.lap-time-comparison-name-layer {
    position: absolute;
    top: 46px;
    left: 240px;
    width: 240px;
    height: 25px;
    font-family: var(--font-italic);
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    color: var(--color-text-gray);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
    z-index: var(--z-content);
}

/* Common sector text styling */
.sector1-text-layer,
.sector2-text-layer,
.sector3-text-layer {
    position: absolute;
    top: 0px;
    width: 160px;
    height: 25px;
    font-family: var(--font-numbers);
    font-size: 16px;
    font-weight: bold;
    color: var(--color-text-gray);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
    z-index: var(--z-content);
}

.sector1-text-layer {
    left: 0px;
}

.sector2-text-layer {
    left: 160px;
}

.sector3-text-layer {
    left: 320px;
}

.last-lap-time-layer {
    position: absolute;
    top: -80px;
    left: 0px;
    width: var(--overlay-width);
    height: 80px;
    font-family: var(--font-timing);
    font-size: 44px;
    font-weight: 700;
    font-style: oblique;
    font-stretch: condensed;
    color: var(--color-text-white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: var(--z-top);
    opacity: 0;
}

.position-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 48px;
    height: 50px;
    font-family: var(--font-position);
    font-size: 24px;
    color: var(--color-text-black);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: var(--z-content);
}

.team-logo-layer {
    position: absolute;
    top: -2px;
    left: 50px;
    width: 60px;
    height: 53px;
    background-color: var(--color-team-logo-bg);
    background-image: url('/images/team-logos/Red_Bull_Racing.png');
    background-size: cover;
    background-position: center;
    z-index: var(--z-content);
}

.driver-name-layer {
    position: absolute;
    top: 0px;
    left: 120px;
    width: 320px;
    height: 50px;
    font-family: var(--font-main);
    font-size: 32px;
    color: var(--color-text-black);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
    padding-right: 10px;
    z-index: var(--z-content);
}

.tyre-compound-layer {
    position: absolute;
    top: -1px;
    left: 425px;
    width: 57px;
    height: var(--player-indicator-height);
    background-color: var(--color-tyre-bg);
    font-family: var(--font-main);
    font-size: 24px;
    color: var(--color-tyre-soft);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: var(--z-content);
}

/* Common sector delta display styling */
.sector-display-layer#sector1-delta,
.sector-display-layer#sector2-delta,
.sector-display-layer#last-lap-delta {
    position: absolute;
    top: 11px;
    left: -5px;
    width: 245px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    font-weight: 700;
    font-style: oblique;
    font-stretch: condensed;
    font-family: var(--font-timing);
    color: var(--color-text-white);
    z-index: var(--z-overlay);
    opacity: 0;
}

.knockout-indicator-layer {
    position: absolute;
    top: -1px;
    left: -1px;
    width: var(--player-indicator-height);
    height: var(--player-indicator-height);
    background-image: url('/images/common/Knockout.png');
    background-size: cover;
    background-position: center;
    display: none;
    z-index: var(--z-base);
}

.position-gained-indicator {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45px;
    height: 20px;
    background-image: url('/images/lap-timer/Green.png');
    background-size: cover;
    background-position: center;
    z-index: var(--z-overlay);
    opacity: 0;
}

.position-lost-indicator {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 45px;
    height: 20px;
    background-image: url('/images/lap-timer/Red.png');
    background-size: cover;
    background-position: center;
    z-index: var(--z-overlay);
    opacity: 0;
}

/* Common sector indicator styling */
.sector1-indicator,
.sector2-indicator,
.sector3-indicator {
    position: absolute;
    top: 0px;
    width: 160px;
    height: 6px;
    background-color: transparent;
    border: none;
    z-index: var(--z-content);
    opacity: 1;
}

.sector1-indicator {
    left: 0px;
}

.sector2-indicator {
    left: 160px;
}

.sector3-indicator {
    left: 320px;
}

.stroke-bar {
    position: absolute;
    top: 254px;
    left: -40px; /* Start 40px to the left for better alignment */
    width: 520px; /* Compensate for the left offset */
    height: 15px;
    z-index: 2;
    pointer-events: none;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    opacity: 1;
    clip-path: inset(0 0 0 40px); /* Crop 40px from the left */
}

.stroke-rect {
    width: 100px;
    height: 2px;
    margin-right: -40px; /* overlap for the angled effect */
    background: #000;
    opacity: 0.15;
    filter: blur(1.5px);
    transform: rotate(-45deg);
}

.rolex-widget {
    position: absolute;
    top: 0px;
    left: 330px;
    width: 150px;
    height: 85px;
    background-color: var(--color-rolex-green);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--z-content);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.rolex-widget img {
    top: 7.5px;
    left: 12px;
    width: 126px;
    height: 70px;
    object-fit: contain;
}

.debug-text {
    position: absolute;
    top: 280px;
    left: 0;
    width: var(--overlay-width);
    font-family: monospace;
    font-size: 12px;
    color: var(--color-text-white);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    word-wrap: break-word;
    display: none;
    opacity: 0;
    z-index: var(--z-overlay);
}